<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Simplenotlistener"
        tools:targetApi="tiramisu">
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BlackListActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activities.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AllNotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SpecificAppNotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DeletedNotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ListSearchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SpecificChatActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.NotificationListenerServiceImpl"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>